@use '../../../styles/mixins';
@use '../../../styles/variables';
.Search__input {
  width: 100%;
  border: none ;
  outline: none;
  box-shadow: none;
  border-radius: 8px;
  height: 38px;
  padding: 0 8px;
  margin: 1.5px;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1em;
}

.Search__button {
  width: 70px;
  height: 38px;
  border-radius: 8px;
  @include mixins.flex-center;
  cursor: pointer;
  background-color: variables.$color-accent;
  color: variables.$color-accent;
  &:hover {
    transition: all 0.3s;
    background-color: #ff4802;
    color: #ff4802;
  }
  margin-right: 1.5px;
}

.Flex__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  background-color: variables.$color-accent;
  width: 50vw;
}