@use "../../../styles/variables";

.product__card {
  width: 250px;
  height: 340px;
  border-radius: 10px;
  margin-right: auto;
}

.link_container {
  position: relative;
}

.favourite__icon {
  width: 26px;
  height: 26px;
  position: absolute;
  right: 10px;
  bottom: 215px;
}

.favourite__button {
  cursor: pointer;
  color: variables.$color-white;
  font-family: "Roboto Condensed", sans-serif;
  &:hover {
    transition: color 0.3s;
    color: variables.$color-accent;
  }
}

.favourite__button--clicked {
  transition: color 0.3s;
  color: variables.$color-more-accent;
}

.product__card-image {
  user-select: none;
  width: 250px;
  height: 250px;
  background-color: #eef0f0;
  border-radius: 10px;
}

.product__card-stock--zero {
  opacity: 0.5;
}

.product__card-price {
  display: flex;
  column-gap: 10px;
  margin-top: 7px;
  font-size: 1.3rem;
  color: variables.$color-more-accent;
  margin-bottom: 7px;
}
.product__card-discount {
  display: flex;
  column-gap: 3px;
  font-size: 0.9rem;
  align-items: end;
}
.product__card-price--old {
  text-decoration: line-through;
  color: gray;
}
.product__card-title {
  font-size: 1.1rem;
  transition: color 0.2s;
  &:hover {
    color: variables.$color-accent;
    cursor: pointer;
  }
}

.product__card-rating {
  margin-top: 7px;
  position: relative;
}

.product__card-storage {
  position: absolute;
  right: 15px;
  width: 100px;
  height: 30px;
  border: solid 2px variables.$color-primary;
  border-radius: 8px;
  &:hover {
    transition: all 0.3s;
    background-color: variables.$color-accent;
  }
}

.product__card-storage--in {
  transition: background-color 0.3s;
  background-color: variables.$color-more-accent;
}