.product__cards--container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  width: 96vw;
  justify-content: center;
  border-radius: 35px;
  margin-inline: auto;
  margin-top: 20px;
  background-color: #FFFFFF;
  padding: 38px 38px 38px;
  box-sizing: border-box;
  row-gap: 30px;
  column-gap: 30px;
}

.loader__wrapper {
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0;
}