$color-primary: #141524;
$color-header-hover: #0a0d1b;
$color-accent:  #FF6B35;
$color-more-accent: #ff4802;
$color-warning: #FFD166;
$color-white:   #FFFFFF;
$color-gray:    #E0E0E0;

$font-heading: 'Poppins', sans-serif;
$font-text: 'Roboto Condensed', sans-serif;

$transition-base: 0.3s ease-in-out;