$color-primary: #141524;   // тёмно-синий фон
$color-header-hover: #0a0d1b;   // тёмно-синий фон
$color-accent:  #FF6B35;   // оранжевый акцент
$color-warning: #FFD166;   // жёлтый (скидки)
$color-white:   #FFFFFF;   // белый
$color-gray:    #E0E0E0;   // светло-серый

$font-heading: 'Poppins', sans-serif;
$font-text:    'Roboto Condensed', sans-serif;

$transition-base: 0.3s ease-in-out;