@use 'reset';
@use 'mixins';
@use 'variables';

@font-face {
  font-family: 'Roboto Condensed';
  src: url('/fonts/Roboto_Condensed-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('/fonts/Roboto_Condensed-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('/fonts/Roboto_Condensed-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
  color: variables.$color-primary;
}

.background__color {
  background-color: #eef0f0;
}
