@use '../../styles/mixins';
@use '../../styles/variables';

.Overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.2);
  @include mixins.flex-center;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}

.Overlay.Active {
  opacity: 1;
  visibility: visible;
}

.MyModal {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.3rem;
  border: solid 2px #FF6B35;
  border-radius: 10px;
  width: 300px;
  height: 500px;
  padding: 20px;
  background: variables.$color-white;
  input {
    font-size: 1rem;
  }
}

.Form__header {
  @include mixins.flex-center;
  margin: 10px;
}

.Buttons__container {
  @include mixins.flex-center;
  gap: 20px;
  margin: 15px;
}

.Input__container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.MyButton {
  font-size: 1rem;
}

.MyInput {
  padding: 0;
  margin: 0;
  border: solid 1.5px variables.$color-accent;
}