@use '../../styles/mixins';
@use '../../styles/variables';

.Overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.2);
  @include mixins.flex-center;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  overflow: auto;
  overscroll-behavior: contain;
}

.Overlay.Active {
  opacity: 1;
  visibility: visible;
}

.MyModal {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.3rem;
  border: solid 2px variables.$color-primary;
  border-radius: 10px;
  width: 300px;
  max-height: 90vh;
  height: 400px;
  padding: 20px;
  background: variables.$color-white;
  overflow: auto;
  input {
    font-size: 1rem;
  }
  p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    font-size: 1rem;
    opacity: 0.6;
  }
}

.auth__button {
  margin-top: 10px;
  width: 100%;
  border-radius: 8px;
  height: 38px;
//  border: solid 2px variables.$color-primary;
  color: variables.$color-white;
  background-color: variables.$color-accent;
  font-size: 1rem;
  font-family: "Roboto Condensed", sans-serif;
  &:hover {
    color: variables.$color-white;
    background-color: variables.$color-more-accent;
    transition: background-color 0.3s;
  }
}

.auth__button--services {
  margin-top: 10px;
  width: 100%;
  @include mixins.flex-center;
  gap: 10px;
}

.form__header {
  @include mixins.flex-center;
  margin: 10px;
}

.loader {
  margin-top: 3px;
}

.buttons__container {
  @include mixins.flex-center;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 10px;
}

.buttons__selected {
  color: variables.$color-white;
  background-color: variables.$color-accent;
  transition: all 0.3s;
}

.login__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 10px;
}

.input__container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.MyButton {
  font-size: 1rem;
  padding: 4px;
  border-radius: 8px;
  &:hover {
    transition: all 0.3s;
  }
}

.MyInput {
  margin: 0;
  border: solid 1px variables.$color-primary;
}

.error__container {
  margin-top: 10px;
  padding: 10px;
  border-radius: 8px;
  background-color: rgba(255, 0, 0, 0.1);
}

.error__message {
  color: #d32f2f;
  font-size: 0.9rem;
  text-align: center;
}