@use '../../styles/variables';
@use '../../styles/mixins';

.Search__button {
  width: 70px;
  height: 38px;
  border-radius: 8px;
  @include mixins.flex-center;
  cursor: pointer;
  background-color: variables.$color-accent;
  color: variables.$color-accent;
  &:hover {
    transition: all 0.3s;
    background-color: #ff4802;
    color: #ff4802;
  }
  margin-right: 1.5px;
}

.MyInput {
  width: 100%;
  margin-right: 4px;
  font-size: 1em;
}

.Flex__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  background-color: variables.$color-accent;
  width: 50vw;
}